#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 50px;
}

img {
  height: 40rem;
  width: 60rem;
}

#img-div {
  padding-bottom: 50px;
}

#caption {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 50px;
}

.quote {
  margin: 50px;
  text-align: center;
}
